#miFooter {
	background-color: #112031;
	color: white;
	flex-direction: column;
	.row {
		i {
			font-size: 20px;
		}
	}
	i.fa-brands {
		font-size: 50px;
	}
}
.go-up {
	display: inline-block;
	padding: 20px;
	font-size: 50px;
	color: rgb(63, 62, 62);
	bottom: 0;
	right: 0;
	margin: 20px;
	position: fixed;
}
@media screen and (max-width:992px) {
	.logo {
		width: 100%;
		height: 100%;
	}
	.nav-item {
		border-bottom: 1px solid white;
		width: 50%;
	}
	.nav-link {
		&:hover {
			background-color: #345B63;
			color: white;
		}
	}
	.navbar-toggler-icon {
		background-color: white;
		border-radius: 2px;
	}
	.form-control {
		margin-top: 20px;
	}
	img.d-flex {
		width: 30%;
		height: 30%;
	}
	.texto {
		font-size: 100%;
	}
}
